menu "Mediatek Peripherals"

config MTK_PLATFORM
    string "MTK platform name"

config ARCH_MTK_PROJECT
    string "MTK project name"

config FPGA_EARLY_PORTING
	bool "MTK FPGA EARLY PORTING"
	 help
		Used for FPGA early porting to separate code segments between FPGA
		platform and non-FPGA platform

config MTK_SEC_VIDEO_PATH_SUPPORT
	bool "Enable MTK Secure Video Path Support"
	depends on (MTK_IN_HOUSE_TEE_SUPPORT) || (TRUSTONIC_TEE_SUPPORT) || (TRUSTY)
	default n
	help
	  This enable MTK Secure Video Path Support. (depending on
	  MTK In-House TEE Support or Trustonic TEE Support)

config MTK_FREQ_HOPPING
	bool "MediaTek FREQHOPPING SUPPORT"
	default n
	help
	  If you want to use MediaTek freqhopping, say Y here.If unsure, say N.
	  Please choose your desired freqhopping driver as well. E.g: MTK8695_FREQ_HOPPING=y

config MTK_CLI_DEBUG_SUPPORT
	bool "MTK CLI command debug Support"
	default n
	---help---
		This enable cli driver for cli debug.
		Cli provides a way to allow user command communicates with kernel driver.
		kernel module need to register cli command first.

source "drivers/misc/mediatek/usb20/Kconfig"
source "drivers/misc/mediatek/ice_debug/Kconfig"
source "drivers/misc/mediatek/trustzone/Kconfig"
source "drivers/misc/mediatek/ext_gic/Kconfig"
source "drivers/misc/mediatek/cirq/Kconfig"
source "drivers/misc/mediatek/mtk_sdio/Kconfig"
source "drivers/misc/mediatek/ram_console/Kconfig"
source "drivers/misc/mediatek/aee/Kconfig"
source "drivers/misc/mediatek/emi/Kconfig"
source "drivers/misc/mediatek/sched/Kconfig"
source "drivers/misc/mediatek/base/Kconfig"
source "drivers/misc/mediatek/freqhopping/Kconfig"
source "drivers/misc/mediatek/thermal/Kconfig"
source "drivers/misc/mediatek/secure_efuse/Kconfig"
source "drivers/misc/mediatek/hw_random/Kconfig"
source "drivers/misc/mediatek/irrx/Kconfig"
source "drivers/misc/mediatek/rt-regmap/Kconfig"
source "drivers/misc/mediatek/usb_c/Kconfig"
source "drivers/misc/mediatek/udi/Kconfig"
source "drivers/misc/mediatek/mmp/Kconfig"
source "drivers/misc/mediatek/hdmi/Kconfig"
source "drivers/misc/mediatek/videocodec/Kconfig"
source "drivers/misc/mediatek/video/Kconfig"
source "drivers/misc/mediatek/sync/Kconfig"
source "drivers/misc/mediatek/mdp/Kconfig"
source "drivers/misc/mediatek/vq/Kconfig"
source "drivers/misc/mediatek/systracker/Kconfig"
source "drivers/misc/mediatek/dynamic_boost/Kconfig"

menu "Sensors"

config MTK_SENSOR_SUPPORT
	bool "MTK SENSOR SUPPORT"
	help
	  sensor config to sensor port sensor feature in project.


source "drivers/misc/mediatek/alsps/Kconfig"
source "drivers/misc/mediatek/hwmon/Kconfig"
endmenu  # Sensors
source "drivers/misc/mediatek/btif/Kconfig"
source "drivers/misc/mediatek/btmtk_btif/Kconfig"
endmenu  # only USB

menu "Modem & Connectivity related configs"

source "drivers/misc/mediatek/connectivity/Kconfig"
source "drivers/misc/mediatek/conn_md/Kconfig"

endmenu  # CONN

menu "mediatak misc"
source "drivers/misc/mediatek/boot/Kconfig"
source "drivers/misc/mediatek/boot_reason/Kconfig"
source "drivers/misc/mediatek/pseudo_m4u/Kconfig"
source "drivers/misc/mediatek/fiq_cache/Kconfig"
endmenu

